@import url(./base.css);

section {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    width: 100%;
    height: 100%;
}

/* --------- PARTE IZQUIERDA --------- */
.left {
    width: 350px;
    height: 100%;

    margin: 8px;
}

.money-info {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;

    margin-bottom: 12px;
}

.money-info p {
    display: flex;
    flex-direction: column;
    text-align: center;

    border-radius: 8px;
    padding: 6px 0;
    background-color: var(--dark);
    margin-right: 6px;

    font-size: var(--sm);
}

.money-info p span:nth-child(2):hover {
    color: var(--white);
}

.money-info p span:nth-child(1) {
    color: var(--hospital-green);
}

.money-info p span:nth-child(2) {
    color: var(--label);
}




.card {
    border-radius: 12px;
    background-color: var(--dark);
    width: 100%;
    height: auto;
    padding-top: 4px;

    font-size: var(--md);

}

.card-container > p {
    display: flex;
    justify-content: space-between;

    padding: 0 10px;
    color: var(--label);

    font-weight: bold;
    font-size: var(--lg);
}

.card-container p span:nth-child(2) {
    color: var(--white);
}

.card-info {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: start;

    padding: 0;
    margin-top: -20px;
}

.card-info figure {
    margin-left: 8px;
}

.card-info figure > img{
    border-radius: 8px;
}

.card-info p {
    display: flex;
    flex-direction: column;
    align-self: center;

    color: var(--label);
}

.card-info p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}

.card-info p span:nth-child(2) {
    color: var(--hospital-green);
    font-size: var(--md);
}


/* --------- PARTE IZQUIERDA --------- */
.right {
    width: 100%;
    height: 100vh;
    background-color: var(--bd);
}

.title {
    display: block;
    text-align: start;

    color: var(--white);
    width: auto;
    border-bottom: 1px solid var(--very-ligth-pink );
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.pagos-a-vencer {
    margin-top: 44px;
}

.cards-container {
    /*Generamos las Grid para las cards*/
    display: grid;
    /*auto-fill: que llene de cards la cantidad que quepe
    240px : El tamaño de cada card*/
    grid-template-columns: repeat(auto-fill, 200px); 
    /*Para que haya un espacio entre cada card usamos: */
    gap: 26px;
    /*Aliniar todas las card en el centro*/
    place-content: center;
    
    margin-top: 20px;
}

.remainder-card {
    border: 1px solid var(--label);

    width: 200px;
    border-radius: 12px;
    background: var(--dark);
}

.fecha {
    text-align: center;
    
    padding-bottom: 8px;
    border-bottom: 1px solid var(--label);
    color: var(--white);

    font-size: var(--md);
}

.remainder-info {
    margin-top: 8px;
}

.remainder-info div p {
    margin-top: 0;
    margin-bottom: 4px;
    padding: 0 4px;
    
    
    font-size: var(--md);
}

.remainder-info div {
    display: flex;
    flex-direction: column;
    margin-top: -8px;
}

.remainder-info div span {
    color: var(--label);
}

.remainder-info div p:last-child {
    border-top: 1px solid var(--label);
    padding-top: 4px;
    margin-top: 4px;

    color: red;

    font-weight: bold;
    font-size: var(--md);
    text-align: center;
}

.icon::before {
    display: inline-block;

    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.login::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
}
.tps::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f1ea";
}


.remainder-info div span {
    padding-left: 12px;
}

@media (max-width: 640px)
{
    .left {
        display: none;
    }    

    .menu-mobile
    {
        display: block;
    }

    .navbar-left ul {
        display: none;
    }

    .navbar-email
    {
        display: none;
    }
}

/* .button-add {
    position: absolute;
    bottom: 30px;
    right: 10px;

    cursor: pointer;
} */



.card-a-vencer {
    display: flex;
    justify-self: center;
    justify-content: center;
}




/* ------------ CONTEO REGRESIVO ------------ */

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

.container {
    width: 100%;
    /* max-width: 900px; */
    margin:20px auto;
}
.container p{
    font-size: 2em;
}
.center-abs{
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
    position: absolute;
}
.charts{
    display: flex;
}
.chart{
    position: relative;
    width:25%;
    height: 260px;
}
.chart h3{
    color:#fff;
    font-size: 1.8em;
    position: absolute;
    bottom:10px;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 10px #000;
}
.chart svg{
    z-index: 2;
}
/* DIV CIRCULO DE FONDO */
.circle {
    width: 150px;
    height:150px;
    border-radius: 50%;
    z-index:1;
    border:10px #baeaff solid;
}
.text{
    z-index: 3;
    text-align: center;
    width: 100%;
    font-size: 3.8em;
    font-weight: 700;
    color: var(--white);
}
/* SVG CIRCULO */
.outer {
    fill:transparent;
    stroke: #0096da;
    stroke-width: 10; /* grosor del borde */
    stroke-dasharray: 439; /* numero de relleno del borde, se usa el mismo valor en el script.js */
    transform: rotate(270deg) translate(-150px, 0); 
    /* giramos el circulo para que su apertura sea en la parte superior 
    y ajustamos su posicion
    */
}