@import url('./primary-basic.css');

html {
    height: 100%;
}

body {
    overflow: hidden;
    cursor: none;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
}

a {
    text-decoration: none;
}

.header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgb(4 4 59) 0%, rgb(71 0 62) 100%);
    color: rgb(255, 255, 255);
}

.logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.inner-header {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}

/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }
}


.login-container {
    display: grid;
    grid-template-rows: 2fr 4fr 2fr;

    width: 35%;
    height: 400px;
    margin-top: 100px;

    background-color: white;
    color: black;

    border-radius: 20px;
}

.login-container-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container-texts__title {
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 25px;
}

.login-container-texts__subtitle {
    font-size: 10px;

    color: #1392BF;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__label {
    text-align: start;

    margin-bottom: 4px;
    padding: 0 16px;

    font-size: 18px;;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}
    

.form__input {
    padding: 6px;

    background-color: #0d1117;
    border: none;
    border-radius: 4px;
    height: 30px;
    margin: 0 16px 12px;
    padding: 0 8px;
    color: white;
    font-size: 15px;
}

::placeholder {
    color: rgb(61, 61, 61);
}

.form__button-signin {
    background-color: #2ea043;
    border: none;
    border-radius: 8px;
    width: 50%;
    height: 32px;
    margin: 16px auto;
    cursor: pointer;
    
    font-size: var(--md);
    font-weight: bold;  

    color: white;
}

.form__button-signin:hover {
    background-color: #196327;
}

.form__button-forget {
    font-size: var(--sm);
    font-family: var(--ff-subtitle);

    color: #444e61;
}

.signup-button {
    background-color: papayawhip;
    color: #5163a2;
    border-radius: 8px;
    font-weight: bold;
    width: 50%;
    height: 32px;
    font-size: 20px;
}
