/********** Template CSS **********/
body {
    background-color: #0d1117;
}
:root {
    --primary: #009CFF;
    --light: #F3F6F9;
    --dark: #191C24;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.transactions {
    width: 100%;
    height: auto;

    padding: 0 6px;
    margin-bottom: 16px;
}

.transactions-info {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 0;
    border-radius: 8px;
    background-color: var(--dark);
}

.transactions__text {
    margin-left: 5px;
    color: white;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 350px;    
    overflow-y: auto;
    background: #0d1117;
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 350px;
    min-height: 100vh;
    background: #010409;
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -350px;
    }

    .content {
        width: calc(100% - 350px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -350px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--dark);
    font-weight: 500;
    border-left: 3px solid var(--light);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: #FFFFFF;
    border-color: var(--primary);
}



.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--light);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: #FFFFFF;
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}
.remainder-card {
    border: 1px solid #c9d1d9;

    width: 200px;
    border-radius: 12px;
    background: #232830;
}
.all-remainders {
    width: 100%;
    height: auto;
}
.cards-container {
    /*Generamos las Grid para las cards*/
    display: grid;
    /*auto-fill: que llene de cards la cantidad que quepe
    240px : El tamaño de cada card*/
    grid-template-columns: repeat(auto-fill, 200px); 
    /*Para que haya un espacio entre cada card usamos: */
    gap: 26px;
    /*Aliniar todas las card en el centro*/
    place-content: center;
    
    margin-top: 20px;
}
.remainder-info {
    margin-top: 8px;
}

.remainder-info div p {
    margin-top: 0;
    margin-bottom: 4px;
    padding: 0 4px;

    font-size: 1rem;
}

.remainder-info div {
    display: flex;
    flex-direction: column;
    margin-top: -8px;
}

.remainder-info div span {
    padding: 4px 0 1px 4px;
    font-size: 18px;
    color: #c9d1d9;
}

.remainder-info div p:last-child {
    border-top: 1px solid #c9d1d9;
    padding-top: 4px;
    margin-top: 4px;

    color: red;

    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.fecha {
    text-align: center;
    
    padding: 6px;
    border-bottom: 1px solid #c9d1d9;
    color: #FFFFFF;

    font-size: 20px;
}
.title {
    display: block;
    text-align: start;

    color: #ffffff;
    width: auto;
    border-bottom: 1px solid #c7c7c7;
    padding: 16px;
    margin-bottom: 16px;
}
.dropdown li .dropdown-box {
    height: 0;
    overflow: hidden;
    display: none;
    background-color: #f0f0f0;
    width: 100%;
    /* margin-left: -30px;
    margin-bottom: -15px; */
    margin-top: 13px;
    border-top: 20px solid #1E1E1E;
    padding: 0;
    padding: 10px;
    width: 100%;
    vertical-align: middle;
}

.dropdown li:hover .dropdown-box,
.dropdown li:active .dropdown-box {
    display: block;
    background-color: var(--dark);
    animation: box 2s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes box {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}

.dropdown-box__item {
    color: #FFF4F2;
}

.dropdown-box__item:hover {
    color: white;
}

.dropdown-box__item--number:hover {
    color: var(--hospital-green);
}